body {font-family: "Noto Sans", Roboto, sans-serif; 
      font-size: small; font-weight: 500;} 

:root {
      /*Chart of available points https://sustance.github.io/tripPoints.html*/
--maxn: 250000;     
      
--K25marAM:32035; --K25aprAM:32035; --K25mayAM:32835; --K25junAM:34435;     
--S25marAM:174743; --S25aprAM:175543; --S25mayAM:175543; --S25junAM:177143;

--K25marMM: 35661; --K25aprMM:35661; --K25mayMM:35661; --K25junMM:35661;
--S25marMM:205518; --S25aprMM:205518; --S25mayMM:209268; --S25junMM:209268;  
      
--K25maySK: 53445; --K25junSK:53445;
--S25maySK: 159236; --S25junSK:159236;

--K25junFW:947;

      
/* The standard charts.css set */
  --color-1: rgba(255, 99, 132, 0.75);    /* #ff6384 */
      --col10-1: rgba(255, 99, 132, 1.0);   
      --colo2-1: rgba(255, 99, 132, 0.2); 
  --color-2: rgba(54, 162, 235, 0.75);    /* #36a2eb */
      --col10-2: rgba(54, 162, 235, 1.0); 
      --colo2-2: rgba(54, 162, 235, 0.2);    
  --color-3: rgba(255, 206, 86, 0.75);
      --col10-3: rgba(255, 206, 86, 1.0);
      --colo2-3: rgba(255, 206, 86, 0.2);
  --color-4: rgba(75, 192, 192, 0.75);    /* #4bc0c0 */
      --col10-4: rgba(75, 192, 192, 1.0); 
      --colo2-4: rgba(75, 192, 192, 0.2);
  --color-5: rgba(153, 102, 255, 0.75);   /* #9966ff */
      --col10-5: rgba(153, 102, 255, 1.0); 
      --colo2-5: rgba(153, 102, 255, 0.2);
  --color-6: rgba(255, 159, 64, 0.75);    /* #ff9f40 */
      --col10-6: rgba(255, 159, 64, 1.0); 
      --colo2-6: rgba(255, 159, 64, 0.2); 
  --color-7: rgba(93, 173, 226, 0.75);    /* #5dade2 */
      --colo2-7: rgba(93, 173, 226, 0.2);
      --col10-7: rgba(93, 173, 226, 1.0);
  --color-8: rgba(178, 223, 138, 0.75);   /* #b2df8a */
      --col10-8: rgba(178, 223, 138, 1.0);
      --colo2-8: rgba(178, 223, 138, 0.2);
  --color-9: rgba(255, 117, 117, 0.75);   /* #ff7575 */
      --col10-9: rgba(255, 117, 117, 1.0);
      --colo2-9: rgba(255, 117, 117, 0.2);
  --color-10:rgba(169, 169, 169, 0.75);   /* #a9a9a9 */
      --col10-10:rgba(169, 169, 169, 1.0); 
      --colo2-10:rgba(169, 169, 169, 0.2); 

  --colo2-21: repeating-linear-gradient(       rgba(93,173,226,.2), rgba(93,173,226,.2) 10px, rgba(178,223,138,.2) 10px, rgba(178,223,138,.2) 20px);
  --colo2-22: repeating-linear-gradient(45deg, rgba(93,173,226,.2), rgba(93,173,226,.2) 10px, rgba(178,223,138,.2) 10px, rgba(178,223,138,.2) 20px);
  --colo2-23: repeating-linear-gradient(90deg, rgba(93,173,226,.2), rgba(93,173,226,.2) 10px, rgba(178,223,138,.2) 10px, rgba(178,223,138,.2) 20px);
  --colo2-24: repeating-linear-gradient(-45deg, var(--colo2-7), var(--colo2-7) 10px, var(--colo2-8) 10px, var(--colo2-8) 20px);
  --colo2-25: repeating-linear-gradient(transparent, rgba(178,223,138,.2) 20px), repeating-linear-gradient(90deg, transparent, rgba(178,223,138,.2) 20px);
  --colo2-26: repeating-radial-gradient(circle,             rgba(93,173,226,.2), rgba(93,173,226,.2) 10px, rgba(178,223,138,.2) 10px, rgba(178,223,138,.2) 20px);
  --colo2-27: repeating-radial-gradient(circle at 50% 100%, rgba(93,173,226,.2), rgba(93,173,226,.2) 10px, rgba(178,223,138,.2) 10px, rgba(178,223,138,.2) 20px);
  --colo2-28: repeating-radial-gradient(circle at 50%   0%, rgba(93,173,226,.2), rgba(93,173,226,.2) 10px, rgba(178,223,138,.2) 10px, rgba(178,223,138,.2) 20px);
  --colo2-29: repeating-radial-gradient(circle at 0%   50%, rgba(93,173,226,.2), rgba(93,173,226,.2) 10px, rgba(178,223,138,.2) 10px, rgba(178,223,138,.2) 20px);
  --colo2-30: repeating-radial-gradient(circle at 100% 50%, rgba(93,173,226,.2), rgba(93,173,226,.2) 10px, rgba(178,223,138,.2) 10px, rgba(178,223,138,.2) 20px);
}
/*
  #my-chart .column {
  --color-1: repeating-linear-gradient(       #f80, #f80 10px, #e34 10px, #e34 20px);
  --color-2: repeating-linear-gradient(45deg, #f80, #f80 10px, #e34 10px, #e34 20px);
  --color-3: repeating-linear-gradient(90deg, #f80, #f80 10px, #e34 10px, #e34 20px);
  --color-4: repeating-linear-gradient(-45deg, #f80, #f80 10px, #e34 10px, #e34 20px);
  --color-5: repeating-linear-gradient(transparent, #e34 20px),
             repeating-linear-gradient(90deg, transparent, #e34 20px);
  --color-6: repeating-radial-gradient(circle,              #f80, #f80 10px, #e34 10px, #e34 20px);
  --color-7: repeating-radial-gradient(circle at 50%  100%, #f80, #f80 10px, #e34 10px, #e34 20px);
  --color-8: repeating-radial-gradient(circle at 50%    0%, #f80, #f80 10px, #e34 10px, #e34 20px);
  --color-9: repeating-radial-gradient(circle at  0%   50%, #f80, #f80 10px, #e34 10px, #e34 20px);
  --color-10: repeating-radial-gradient(circle at 100% 50%, #f80, #f80 10px, #e34 10px, #e34 20px);
}
*/




/* Defines the hidden div containing the CRON from servers  Y is 7 as 7 cannot be a html ID*/
#B, #C, #D, #E, #F, #G, #H, #I, #J, #O, #P, #S, #T, #V, #X, #N, #Y { display: none }
#B:target, #C:target, #D:target, #E:target, #F:target, #G:target, #H:target, 
#I:target, #J:target, #O:target, #P:target, #S:target, #T:target, #V:target, 
#X:target, #N:target, #Y:target { display: block }

#email        { display: none }
#email:target { display: block }

/*p    {margin:0; font-family: "Noto Sans", Roboto, sans-serif; }*/

div { padding-left: 12px; padding-top: 0px;padding-bottom: 0px;max-width: 860px; margin: 1px; }

h2 h3{font: 800 40px Arial; font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;}
td     {font-size: large; padding: 8px; text-align:center;}
.box b {font-size: xxx-large; color: var(--col10-5); font-weight: 900;}
.box i {font-size: x-large; color: #a52b36; font-weight: 900;}
.bsd b {font-size: xxx-large; color: #00b0b2; font-weight: 900;}
.bsd i {font-size: x-large; color: #a52b36; font-weight: 900;}
/*.chart caption {font-size: x-large; color: #a52b36; font-weight: 900;}*/
s    {color: #aaaaaa ;}
u    {color: var(--color-7);}
a    {text-decoration: none; color: #a52b36; font-weight: 600; margin-right: 5px; margin-left: 5px;}
.pr {color: var(--col10-2);}
/*  slash (/) in border-radius separates horizontal and vertical radii
           Order     t-le  t-ri  b-ri  b-le  / t-le  t-ri  b-ri  b-le  */
.bsd {
      border-radius: 255px  15px 255px  15px / 333px  22px  99px 255px;
      background-image:var(--colo2-24);}
.bsd:nth-child(odd) {
      border-radius: 255px  15px 255px  15px / 333px  22px  99px 255px;
      background-image:var(--colo2-23);}

.box {
      border-radius: 125px 99px 333px 22px / 88px 333px 99px 255px;
      background: linear-gradient(to bottom right, var(--colo2-7), var(--colo2-8) );}
.box:nth-child(odd) {
      border-radius: 55px 15px 25px 15px / 15px 55px 15px 55px;
      background: linear-gradient(to bottom right, var(--colo2-8), var(--colo2-7) );}

.selec {line-height:0;}

.idx i {font-size: x-large;}
.col {color: #00b0b2;}
